services:
  homarr:
    container_name: homarr-demo-1
    image: ghcr.io/ajnart/homarr:latest
    restart: unless-stopped
    environment:
      - SECRET_ENCRYPTION_KEY=1fc4845e28514028a097b26a5aba9eb31bad1de770151de611ff8379f283b307
    labels:
      - traefik.enable=true
      - traefik.http.routers.homarr-demo-1-http.entrypoints=web
      - traefik.http.routers.homarr-demo-1-http.rule=Host(`homarr.example.com`)
      - traefik.http.routers.homarr-demo-1-https.entrypoints=websecure
      - traefik.http.routers.homarr-demo-1-https.rule=Host(`homarr.example.com`)
      - traefik.http.routers.homarr-demo-1-https.tls=true
      - traefik.http.routers.homarr-demo-1-https.tls.certresolver=route53
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Optional, only if you want docker integration
      - ./homarr/configs:/app/data/configs
      - ./homarr/icons:/app/public/icons
      - ./homarr/data:/data
    ports:
      - '7575:7575'
    networks:
      - proxy

networks:
  proxy:
    external: true
