services:
  dockhand:
    image: fnsys/dockhand:latest
    container_name: dockhand
    restart: always
    ports:
      - 3000:3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /volume1/docker/dockhand/data:/app/data
