services:
  paperless-redis:
    image: redis
    container_name: paperless-redis-demo-1
    restart: always
    volumes:
      - /volume1/docker/paperless/redis:/usr/local/etc/redis
    networks:
      - paperless-net

  paperless-db:
    image: docker.io/library/postgres:17
    container_name: paperless-postgres-demo-1
    restart: always
    volumes:
      - /volume1/docker/paperless/pgdata-17:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    networks:
      - paperless-net

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.6
    container_name: paperlessngx-demo-1
    restart: always
    depends_on:
      - paperless-db
      - paperless-redis
      - gotenberg
      - tika
    ports:
      - 11800:8000
    volumes:
      - /volume1/docker/paperless/data:/usr/src/paperless/data
      - /volume1/docker/paperless/media:/usr/src/paperless/media
      - /volume1/docker/paperless/export:/usr/src/paperless/export
      - /volume1/docker/paperless/consume:/usr/src/paperless/consume
    env_file: stack.env
    environment:
      PAPERLESS_REDIS: redis://paperless-redis:6379
      PUID: 1026
      PGID: 100
      PAPERLESS_DBHOST: paperless-db
      PAPERLESS_DBPORT: 5432
      PAPERLESS_DBNAME: paperless
      PAPERLESS_DBUSER: paperless
      PAPERLESS_DBPASS: paperless
      PAPERLESS_ADMIN_USER: admin
      PAPERLESS_ADMIN_PASSWORD: GEHEIM
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      # Zusätzliche Umgebungsvariablen ab hier:
      PAPERLESS_WORKER_TIMEOUT: 4000
      # Folgende Umgebungsvariablen werden für ASN-Barcodes benötigt
      PAPERLESS_CONSUMER_ENABLE_BARCODES: 1
      PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE: 1
      PAPERLESS_CONSUMER_BARCODE_UPSCALE: 1.5
      PAPERLESS_CONSUMER_BARCODE_DPI: 600
      PAPERLESS_CONSUMER_BARCODE_SCANNER: ZXING
    networks:
      - paperless-net

  gotenberg:
    image: gotenberg/gotenberg
    restart: always
    container_name: gotenberg-demo-1
    ports:
      - 11300:3000
    command:
      - gotenberg
      - --chromium-disable-javascript=true
      - --chromium-allow-list=file:///tmp/.*
    networks:
      - paperless-net
  
  tika:
    image: docker.io/apache/tika:latest
    container_name: tika-demo-1
    ports:
      - 11998:9998
    restart: always
    networks:
      - paperless-net
    
networks:
  paperless-net:
    external: true
